Django==1.8.2
argparse==1.2.1
django-extensions==1.5.5
python-ctags==1.0.5
six==1.9.0
wsgiref==0.1.2
Pillow==3.1.1

# developer
django-debug-toolbar
ipdb
ipython
pytest
functools32==3.2.3-2
django-colorfield
palettable
radon
# psycopg2
